" This script has a very small amout of function which work in it, main
" functionality work in idea, other - rebinding


set number relativenumber


nnoremap <C-N> :bnext<CR>
nnoremap <C-P> :bprev<CR>

nnoremap <S-L> :bnext<CR>
nnoremap <S-H> :bprev<CR>

let mapleader = " "

nnoremap <C-J> <C-W>j
nnoremap <C-K> <C-W>k
nnoremap <C-H> <C-W>h
nnoremap <C-L> <C-W>l


set NERDTree

Plug 'preservim/nerdtree'

map <leader>o :NERDTreeFocus<CR>
map <leader>e :NERDTreeToggle<CR>


map <leader>/ <Action>(CommentByLineComment)

" map <leader>dra <Action>(Run)
map <leader>dra <Action>(TriggerPlayInUnity)
map <leader>drd <Action>(Debug)
map <leader>dbt <Action>(ToggleLineBreakpoint)
map <leader>da <Action>(Debugger.AddToWatch)

