nnoremap <C-N> :bnext<CR>
nnoremap <C-P> :bprev<CR>

nnoremap <S-L> :bnext<CR>
nnoremap <S-H> :bprev<CR>

set keymap=russian-jcukenwin
set iminsert=0
set imsearch=0
highlight lCursor guifg=NONE guibg=Cyan

set hlsearch

nnoremap ,<space> :nohlsearch<CR>

let mapleader = " "

nnoremap <C-J> <C-W>j
nnoremap <C-K> <C-W>k
nnoremap <C-H> <C-W>h
nnoremap <C-L> <C-W>l


set NERDTree

Plug 'preservim/nerdtree'

map <leader>o :NERDFocus<CR>
map <leader>e :NERDTreeToggle<CR>


Plug 'tpope/vim-commentary'

set number relativenumber

 
map <leader>/ :'<,'>Commentary<CR>
